build/
*~
.DS_Store
.*.swp
*.bak
*.orig
source/API/com/*
source/API/*.cs
source/API/*.dll
source/API/LeapJava.jar
*.docstates.suo
*.vcxproj
CMakeFiles
Makefile
Frameworks
*.sln
*.suo
*.filters
cmake_install.cmake
CTestTestfile.cmake
*.sdf
*.qm
.m2
ipch
Platform.opensdf
*.dir
CMakeCache.txt
DartConfiguration.tcl
ocuConfig.h
Version.h
*.user
testing/AllCxxTests.cpp
bin
*.cxx_parameters
source/UserInterface/moc_*.cxx*
source/UserInterface/screen_calib_instructions.qrc.depends
source/UserInterface/qrc*.cxx
source/API/LeapAPI.aps
source/UserInterface/*qrc.depends
Win32
source/ImageProcessing/*.cxx
lib/Debug
lib/Release
source/ScreenLocator/screen_calib_instructions.qrc.depends
moc_*.cxx
source/ScreenLocator/qrc_screen_calib_instructions.cxx
LeapLegacy.exe.manifest
source/LeapControlPanel/LeapControlPanel.exe.manifest
tags
source/LeapSvc/*.bin
*.depends
*.cxx
source/LeapSvc/LeapControlPanelLogo.ico
source/ControlPanelUI/ControlPanelUILicenses.qrc
source/LeapSvc/LeapSvc.idc
*.aps
*.manifest
*.rc
application/LeapControlPanelLogo.ico
source/LeapSvc/Messages.h
*.qm
source/Hardware/Inf/env_setup.bat
*.cpp_parameters
moc_*.cpp
qrc_*.cpp
Debug
usbdesc-builder.opensdf
